* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bg: #e3e4e8;
	--fg: #17181c;
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

body {
	background: var(--bg);
	color: var(--fg);
	font: 1em/1.5 system-ui, -apple-system, sans-serif;
	height: 100vh;

  padding 40px
}

select {
  background: transparent;
  border: none;
}

.thermometer {
  user-select none;
	position: relative;

	margin: auto;
	width: 10em;
	height: 30em;

  .t-tube {
    position: relative;
  }
  .t-inner, .t-ring, .t-tube:before {
    position: absolute;
  }
  .t-inner {
    left: 1em;
  }
  .t-tube:before {
    content: "";
    display: block;
  }

  .t-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    top: 2em;
    text-align: center;
    width: calc(100% - 2em);
    height: calc(100% - 4em);
  }
  .t-c, .t-f {
    background-image:
      linear-gradient(hsl(0,0%,0%) 0.1em,hsla(0,0%,0%,0) 0.1em),
      linear-gradient(hsl(0,0%,0%) 0.1em,hsla(0,0%,0%,0) 0.1em);
    background-repeat: repeat-y;
    flex-basis: calc(50% - 0.75em);
    margin-bottom: 0.125em;
  }
  .t-c {
    background-position: 100% 0;
    background-size: 0.8em 1em, 0.5em 0.2em;
    padding-right: 0.5em;
    padding-top: 1.25em;
    height: 22em;
  }
  b {
    display:block; font-weight: 200
  }
  .t-c b {
    height: 2em;
  }
  .t-f {
    background-size: 0.8em 1.125em, 0.5em 0.225em;
    padding-top: 1.5em;
    padding-left: 0.25em;
    height: 22.5em;
  }
  .t-f b {
    height: 2.25em;
  }
  .t-bar, .t-tube:before {
    height: 100%;
  }
  .t-bar {
    background-color: hsl(355,85%,40%);
    box-shadow:
      -0.1em 0.1em 0.25em hsla(355,85%,40%,0.7),
      0.05em 0 0 hsla(0,0%,100%,0.5) inset;
    width: 100%;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .t-title {
    flex-basis: 50%;
  }
  .t-tube, .t-tube:before {
    border-radius: 0.3em 0.3em 0 0;
  }
  .t-tube {
    box-shadow:
      -0.1em 0.1em 0.25em hsla(0,0%,0%,0.3),
      0.05em 0 0 hsla(0,0%,100%,0.5) inset,
      0.1em 0 0.1em hsla(0,0%,0%,0.2) inset;
    flex-basis: 0.3em;
  }
  .t-tube:before {
    background: linear-gradient(hsla(0,0%,100%,0.5),hsla(0,0%,100%,0)) 100% 0 / 25% 100% no-repeat;
    box-shadow: -0.05em 0 0.05em hsla(0,0%,0%,0.2) inset;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .t-bulb {
    background-image: radial-gradient(100% 100% at 65% 35%,hsl(355,85%,55%) 12%,hsl(355,85%,40%) 13%,hsl(355,85%,30%));
    border-radius: 50%;
    box-shadow:
      0 -0.25em 0.25em hsla(0,85%,20%,0.7),
      -0.35em 0.35em 0.5em hsl(355,20%,50%),
      0 0 0 0.1em hsl(223,10%,60%),
      0 0 0 0.15em hsl(223,10%,90%),
      0 0 0 0.2em hsl(223,10%,30%),
      0 0 0 0.05em hsl(355,85%,30%) inset,
      -0.1em 0.1em 0 hsl(355,85%,43%) inset;
    margin: auto;
    width: 2em;
    height: 2em;
  }

}

